.positions td.id > *{
	width: 30px;
}

.positions td.quantity, .positions td.price, .positions td.brokerFees, .positions td.quantity *, .positions td.price *, .positions td.brokerFees *{
	width: 80px;
}

.positions td.openDate, .positions td.openDate input {
	width: 120px;
}

.positions td.closeDate, .positions td.closeDate input{
	width: 120px;
}

.positions td.save > *{
	width: 70px;
}


.positions td.stock > *, .positions td.stock > div{
	width: 200px;
}